body {
    font-family: 'Georgia', serif;
    background-color: #E3D8B7;
    color: #333;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #2b4f2f; 
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

nav a{
    color: #fff; 
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #E3D8B7;
}

.header {
    display: flex;
    align-items: center;  
    justify-content: center;
    position: relative;
    padding: 20px 50px;
    background-color: #fff8f0;
    padding: 30px 20px;
    background: linear-gradient(#2b4f2f, #7c9c6e); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    color: #fff;
}

.header .logo {
    position: absolute;          
    left: 20px;                  
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid #2b4f2f;
    object-fit: cover;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.header nav a {
    text-decoration: none;
    color: #2b4f2f;
    font-weight: bold;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.header nav a:hover {
    color: #7c9c6e;
}

.section {
    background-color: #2b4f2f;
    color: #fff;
    max-width: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.section h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.section p {
    font-size: 1rem;
    line-height: 1.6;
}
