body{
    background-color: #E3D8B7;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}
        
h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

hr{
    height: 4px;
    background-color: black;
    width: 70%;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #2b4f2f;
    margin-left: 200px;
}

.section{
    background-color: #2b4f2f;
    color: white;
    width: 400px;
    margin-left: 200px;
    margin-top: 30px;
    padding: 20px;
}